.home{
  height: 100vh;
}

.home:before, .home:before {
	content: '';
	content: "";
	width: 100%;
	height: 100vh;
	/* background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("../../../assets/img/home-background.jpg");
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover; */
}

.zurich:before{
  
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, 
                            rgba(0, 0, 0, 0.7) 75%, #000000 100%), 
              url("../../../assets/img/zurich.jpg");
  position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.roma:before{
  
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, 
                            rgba(0, 0, 0, 0.7) 75%, #000000 100%), 
              url("../../../assets/img/roma.jpeg");
  position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.milan:before{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, 
                            rgba(0, 0, 0, 0.7) 75%, #000000 100%), 
              url("../../../assets/img/milan.jpeg");
  position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.cargando{
  height: 100vh;
  color: whitesmoke;
  background-color: #000000b1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dot{
  --fa-bounce-rebound: 0;
  --fa-animation-duration: 2s;
}

.dot:first-child{
  --fa-animation-delay: 1s;
}

.dot:nth-child(2){
  --fa-animation-delay: 1.3s;
}

.dot:nth-child(3){
  --fa-animation-delay: 1.6s;
}

.card{
  opacity: .85;
}

 .conversion-input input{
  border-right: none;
}

.conversion-input input:focus{
  border-color: #dee2e6;
  box-shadow: none;
}

.conversion-input button{
  border-left: none;
  border-color: #dee2e6;
}

.conversion-input button:active,
.conversion-input button:hover{
  background-color: white !important;
  color: #6c757d;
}


