/* You can add global styles to this file, and also import other style files */
.custom-shadow{
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

.cargando{
  height: 100vh;
  color: whitesmoke;
  background-color: #000000b1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dot{
  --fa-bounce-rebound: 0;
  --fa-animation-duration: 2s;
}

.dot:first-child{
  --fa-animation-delay: 1s;
}

.dot:nth-child(2){
  --fa-animation-delay: 1.3s;
}

.dot:nth-child(3){
  --fa-animation-delay: 1.6s;
} 

.container{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card{
  opacity: .85;
}
